<ion-header>
  <ion-toolbar id="titleContainer">
    <div (click)= "goBack()" id= "back" class = "glyphicon glyphicon-chevron-left"></div>
    <ion-title id = "aTitile">How to use the site</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <img id="ArticleImage" src='../assets/images/canswer.jpg' alt="Picture not found">
  <div id="ArticleContent">
    <p>
      Welcome to Canswer! 
      In this article we hope to teach you how to use the website to it's fullest capacity!
      Lorem ipsum dolor sit amet, an libris nostrum mei, vix ea saepe quando perfecto, in pri putant accusam scribentur. An electram pertinacia elaboraret vix. Sea ea eros veri, eos at autem liber referrentur, an vix wisi blandit. Vocibus accumsan cu mel. Ea commune splendide nam, ei prima delectus inciderint pri, nobis dolore insolens per ut. Cu vocibus electram constituam est, vide voluptatum cu mea.

       Virtute fierent omittam est in. Mel ex sint labitur. An pro facilis philosophia voluptatibus. Mel cu choro putant voluptatibus. Quo liber posidonium et, vel suas necessitatibus at.

      Natum dissentiet id pri, sonet latine te his, duo brute veniam iuvaret ei. Vis an harum blandit hendrerit, ut nobis laboramus est. Et ferri salutandi definiebas mel, sed novum oporteat ei. Ex quod affert ius, usu te vitae legimus. Regione forensibus qui ut, ad usu reque repudiandae, id elit habemus disputationi duo.

      Eu esse nulla lobortis sed. Animal mandamus electram eam te. Odio viris ridens no per. Mel ut nominavi insolens scribentur, suas movet vidisse ut eum, eam albucius cotidieque signiferumque ea.

      Deserunt omittantur his id, quo ea melius atomorum comprehensam. Reque contentiones ea nam, te eos tollit dissentiet. No unum noluisse has, mei idque accumsan principes te. Eius melius luptatum nec cu, vix vide cibo volumus cu. Nam dico tempor delicatissimi ut, no ius bonorum perfecto. Habeo temporibus eum no, vel et dicta dicam periculis, at nulla iusto incorrupte his.
      Welcome to Canswer! 
      In this article we hope to teach you how to use the website to it's fullest capacity!
      Lorem ipsum dolor sit amet, an libris nostrum mei, vix ea saepe quando perfecto, in pri putant accusam scribentur. An electram pertinacia elaboraret vix. Sea ea eros veri, eos at autem liber referrentur, an vix wisi blandit. Vocibus accumsan cu mel. Ea commune splendide nam, ei prima delectus inciderint pri, nobis dolore insolens per ut. Cu vocibus electram constituam est, vide voluptatum cu mea.

       Virtute fierent omittam est in. Mel ex sint labitur. An pro facilis philosophia voluptatibus. Mel cu choro putant voluptatibus. Quo liber posidonium et, vel suas necessitatibus at.

      Natum dissentiet id pri, sonet latine te his, duo brute veniam iuvaret ei. Vis an harum blandit hendrerit, ut nobis laboramus est. Et ferri salutandi definiebas mel, sed novum oporteat ei. Ex quod affert ius, usu te vitae legimus. Regione forensibus qui ut, ad usu reque repudiandae, id elit habemus disputationi duo.

      Eu esse nulla lobortis sed. Animal mandamus electram eam te. Odio viris ridens no per. Mel ut nominavi insolens scribentur, suas movet vidisse ut eum, eam albucius cotidieque signiferumque ea.

      Deserunt omittantur his id, quo ea melius atomorum comprehensam. Reque contentiones ea nam, te eos tollit dissentiet. No unum noluisse has, mei idque accumsan principes te. Eius melius luptatum nec cu, vix vide cibo volumus cu. Nam dico tempor delicatissimi ut, no ius bonorum perfecto. Habeo temporibus eum no, vel et dicta dicam periculis, at nulla iusto incorrupte his.
    </p>
  </div>
</ion-content>
