<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Find a Clinic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id = "buttonContainer">
  <ion-button ion-item id="findClinic" (click) = "openMaps()"><p id = "buttonContents">FIND A CLINIC<br> NEAR ME</p></ion-button>
  <p id = "clinicExplination"><span class = "glyphicon glyphicon-info-sign"></span> Press this button to open up a map with the directions to the closest clinic</p>
</ion-content>
